{% extends '@SyliusShop/bisum-layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}
	{{ 'sylius.ui.reset_password'|trans }}
	|
	{{ parent() }}
{% endblock %}

{% block content %}
<!-- breadcrumb start -->
	<div class="breadcrumb">
		<div class="container">
			<ul class="list-unstyled d-flex align-items-center m-0">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<svg class="icon icon-breadcrumb" width="64" height="64" viewbox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g opacity="0.4">
							<path d="M25.9375 8.5625L23.0625 11.4375L43.625 32L23.0625 52.5625L25.9375 55.4375L47.9375 33.4375L49.3125 32L47.9375 30.5625L25.9375 8.5625Z" fill="#000"/>
						</g>
					</svg>
				</li>
				<li>{{ 'sylius.ui.reset'|trans }}</li>
			</ul>
		</div>
	</div>
	<!-- breadcrumb end -->

	<main id="MainContent" class="content-for-layout">
		<div class="login-page mt-100">
			<div class="container">
				{{ form_start(form, {'action': path('sylius_shop_request_password_reset_token'), 'attr': {'class': 'login-form common-form mx-auto', 'novalidate': 'novalidate'}}) }}
				{{ form_row(form.email, sylius_test_form_attribute('reset-email')) }}

				{{ sylius_template_event('sylius.shop.request_password_reset_token.form', {'form': form}) }}

				{{ form_row(form._token) }}
				<button type="submit" class="btn-primary d-block mt-4 btn-signin" {{ sylius_test_html_attribute('request-password-reset-button') }}>
					{{ 'sylius.ui.reset'|trans }}
				</button>
				{{ form_end(form, {'render_rest': false}) }}
			</div>
		</div>
	</main>

{% endblock %}
