{% if app.user %}
	{% set wishlists = findAllByShopUserAndToken(app.user) %}
{% else %}
	{% set wishlists = findAllByAnonymous() %}
{% endif %}
<div class="dropdown">
	<button class="btn btn-secondary dropdown-toggle" type="button" id="bb-collective-actions-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
		Bulk Actions
	</button>
	<ul class="dropdown-menu wishlist-dropdown-menu" aria-labelledby="bb-collective-actions-dropdown">
		<li class="wishlist-dropdown-menu__item">
			<form action="{{ path('bitbag_sylius_wishlist_plugin_shop_wishlist_add_selected_products', { wishlistId: wishlist.id }) }}" method="post">
				<button type="submit" class="wishlist-item--button dropdown-item" {{ sylius_test_html_attribute('wishlist-add-selected-to-cart') }}>
					<i class="fa fa-cart-fill"></i>
					{{ 'bitbag_sylius_wishlist_plugin.ui.add_to_cart'|trans }}
				</button>
			</form>
		</li>
		<li class="wishlist-dropdown-menu__item">
			<form action="{{ path('bitbag_sylius_wishlist_plugin_shop_wishlist_remove_selected_products', { wishlistId: wishlist.id }) }}" method="post">
				<button type="submit" class="wishlist-item--button dropdown-item" {{ sylius_test_html_attribute('wishlist-remove-selected-from-wishlist') }}>
					<i class="fa fa-x-circle-fill"></i>
					{{ 'bitbag_sylius_wishlist_plugin.ui.remove'|trans }}
				</button>
			</form>
		</li>
		{% if wishlists|length > 1 %}
			<li class="wishlist-dropdown-menu__item">
				<button type="button" class="wishlist-item--button dropdown-item" {{ sylius_test_html_attribute('wishlist-copy-to-wishlist') }} data-bs-target="#choose-wishlist-modal" data-bs-toggle="modal">
					<i class="fa fa-files"></i>
					{{ 'bitbag_sylius_wishlist_plugin.ui.copy_to_wishlist'|trans }}
				</button>
			</li>
		{% endif %}
		<input type="hidden" data-bb-current-wishlist-id="{{ wishlist.id }}">
		{% for wishlistTarget in wishlists  %}
			{% if wishlist.id != wishlistTarget.id %}
				<input type="hidden" data-bb-wishlists="{{ wishlistTarget.name }}" data-bb-wishlists-id="{{ wishlistTarget.id }}">
			{% endif %}
		{% endfor %}
		<li class="wishlist-dropdown-menu__item">
			<form action="{{ path('bitbag_sylius_wishlist_plugin_shop_wishlsit_export_selected_products_to_csv', { wishlistId: wishlist.id }) }}" method="post">
				<button type="submit" class="wishlist-item--button dropdown-item" {{ sylius_test_html_attribute('wishlist-export-to-csv') }}>
					<i class="fa fa-file-earmark-arrow-down"></i>
					{{ 'bitbag_sylius_wishlist_plugin.ui.export_to_csv'|trans }}
				</button>
			</form>
		</li>
		<li class="wishlist-dropdown-menu__item">
			<form action="{{ path('bitbag_sylius_wishlist_plugin_shop_wishlist_export_to_pdf', { wishlistId: wishlist.id }) }}" method="post">
				<button type="submit" class="wishlist-item--button dropdown-item" {{ sylius_test_html_attribute('wishlist-export-to-pdf-from-wishlist') }}>
					<i class="fa fa-file-earmark-arrow-down"></i>
					{{ 'bitbag_sylius_wishlist_plugin.ui.export_wishlist_to_pdf'|trans }}
				</button>
			</form>
		</li>
	</ul>
</div>
