<div class="row">
	<div class="col-md">
		{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': form.email.vars.label}}) }}
	</div>

	<div class="col-md">
		<input type="password" class="form-control" placeholder="{{ 'sylius.ui.password'|trans }}" {{ sylius_test_html_attribute('password-input') }}>
	</div>

	<div class="col-md">
		<input type="hidden" name="_csrf_shop_security_token" value="{{ csrf_token('shop_authenticate') }}">
		<a class="btn btn-primary" href="#" data-url="{{ path('sylius_shop_login_check') }}">
			{{ 'sylius.ui.sign_in'|trans }}
		</a>
	</div>

</div>


<div class="row mt-3">
	<div class="col-md-6">
		<div class="alert alert-danger d-none" id="sylius-api-validation-error" {{ sylius_test_html_attribute('login-validation-error') }}></div>
	</div>
</div>
