<div class="product-gallery product-gallery-vertical d-flex">
	<div class="product-img-large">
		<div class="qv-large-slider img-large-slider common-slider" data-slick='{
										                                            "slidesToShow": 1,
										                                            "slidesToScroll": 1,
										                                            "dots": false,
										                                            "arrows": false,
										                                            "asNavFor": ".qv-thumb-slider"
										                                        }'>
			<div class="img-large-wrapper">
				<img src="{{ asset('assets/img/products/bags/39.jpg') }}" alt="img">
			</div>
			<div class="img-large-wrapper">
				<img src="{{ asset('assets/img/products/bags/38.jpg') }}" alt="img">
			</div>
			<div class="img-large-wrapper">
				<img src="{{ asset('assets/img/products/bags/37.jpg') }}" alt="img">
			</div>
			<div class="img-large-wrapper">
				<img src="{{ asset('assets/img/products/bags/36.jpg') }}" alt="img">
			</div>
			<div class="img-large-wrapper">
				<img src="{{ asset('assets/img/products/bags/34.jpg') }}" alt="img">
			</div>
			<div class="img-large-wrapper">
				<img src="{{ asset('assets/img/products/bags/30.jpg') }}" alt="img">
			</div>
			<div class="img-large-wrapper">
				<img src="{{ asset('assets/img/products/bags/32.jpg') }}" alt="img">
			</div>
		</div>
	</div>
	<div class="product-img-thumb">
		<div class="qv-thumb-slider img-thumb-slider common-slider" data-vertical-slider="true" data-slick='{
										                                            "slidesToShow": 5,
										                                            "slidesToScroll": 1,
										                                            "dots": false,
										                                            "arrows": true,
										                                            "infinite": false,
										                                            "speed": 300,
										                                            "cssEase": "ease",
										                                            "focusOnSelect": true,
										                                            "swipeToSlide": true,
										                                            "asNavFor": ".qv-large-slider"
										                                        }'>
			<div>
				<div class="img-thumb-wrapper">
					<img src="{{ asset('assets/img/products/bags/39.jpg') }}" alt="img">
				</div>
			</div>
			<div>
				<div class="img-thumb-wrapper">
					<img src="{{ asset('assets/img/products/bags/38.jpg') }}" alt="img">
				</div>
			</div>
			<div>
				<div class="img-thumb-wrapper">
					<img src="{{ asset('assets/img/products/bags/37.jpg') }}" alt="img">
				</div>
			</div>
			<div>
				<div class="img-thumb-wrapper">
					<img src="{{ asset('assets/img/products/bags/36.jpg') }}" alt="img">
				</div>
			</div>
			<div>
				<div class="img-thumb-wrapper">
					<img src="{{ asset('assets/img/products/bags/34.jpg') }}" alt="img">
				</div>
			</div>
			<div>
				<div class="img-thumb-wrapper">
					<img src="{{ asset('assets/img/products/bags/30.jpg') }}" alt="img">
				</div>
			</div>
			<div>
				<div class="img-thumb-wrapper">
					<img src="{{ asset('assets/img/products/bags/32.jpg') }}" alt="img">
				</div>
			</div>
		</div>
		<div class="activate-arrows show-arrows-always arrows-white d-none d-lg-flex justify-content-between mt-3"></div>
	</div>
</div>
