<!DOCTYPE html>

<title>PurchaseOrder index</title>

{% block body %}
    <h1>PurchaseOrder index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>State</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for purchase_order in purchase_orders %}
            <tr>
                <td>{{ purchase_order.id }}</td>
                <td>{{ purchase_order.code }}</td>
                <td>{{ purchase_order.state }}</td>
                <td>
                    <a href="{{ path('app_admin_stock_purchase_order_show', {'id': purchase_order.id}) }}">show</a>
                    <a href="{{ path('app_admin_stock_purchase_order_edit', {'id': purchase_order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_stock_purchase_order_new') }}">Create new</a>
{% endblock %}
