{% extends '@SyliusShop/bisum-layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% set header = 'sylius.ui.your_shopping_cart' %}

{% block title %}
	{{ header|trans }}
	|
	{{ parent() }}
{% endblock %}

{% block content %}

	<div class="breadcrumb">
		<div class="container">
			<ul class="list-unstyled d-flex align-items-center m-0">
				<li>
					<a href="{{ path('sylius_shop_homepage') }}" style="text-decoration:none;">{{ 'sylius.ui.home'|trans }}</a>
				</li>
				<li>
					<svg class="icon icon-breadcrumb" width="64" height="64" viewbox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g opacity="0.4">
							<path d="M25.9375 8.5625L23.0625 11.4375L43.625 32L23.0625 52.5625L25.9375 55.4375L47.9375 33.4375L49.3125 32L47.9375 30.5625L25.9375 8.5625Z" fill="#000"/>
						</g>
					</svg>
				</li>
				<li>Cart</li>
			</ul>
		</div>
	</div>

	{# {% set cart_json = cart | jms_serialize() %} #}
	{# {{dump(cart_json)}} #}
	<main id="MainContent" class="content-for-layout">
		<div class="cart-page mt-100">
			{{ sylius_template_event('sylius.shop.cart.before_header', {'header': header, 'cart': cart}) }}
			<div class="container">
				<div class="cart-page-wrapper">
					{% if not cart.empty %}
						{{ sylius_template_event('sylius.shop.cart.header', {'header': header, 'cart': cart}) }}
						<div class="row">
							<div class="col-lg-7 col-md-12 col-12">
								{{ sylius_template_event('sylius.shop.cart.items', {'cart': cart, 'form': form}) }}
							</div>
							<div class="col-lg-5 col-md-12 col-12">
								{{ sylius_template_event('sylius.shop.cart.summary', {'cart': cart}) }}
							</div>
						</div>
						<div class="my-5">
							<hr/>
						</div>
						{{ sylius_template_event('sylius.shop.cart.suggestions', {'cart': cart}) }}
					{% else %}
						<div class="d-flex justify-content-center">
							<div class="alert alert-info">
								{{'sylius.ui.your_cart_is_empty'|trans}}
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</main>
{% endblock %}
