{% import '@SyliusUi/Macro/messages.html.twig' as messages %}
{% import '@SyliusUi/Macro/pagination.html.twig' as pagination %}

{# {{ sylius_template_event('sylius.shop.product.index.search', _context) }} #}

{# <div class="ui clearing hidden divider"></div> #}

{# {{ sylius_template_event('sylius.shop.product.index.before_list', {'products': resources.data}) }} #}

{% if resources.data|length > 0 %}
	<div class="filter-sort-wrapper d-flex justify-content-between flex-wrap">
		<div class="collection-title-wrap d-flex align-items-end">
			<h2 class="collection-title heading_24 mb-0">All products</h2>
			<p class="collection-counter text_16 mb-0 ms-2">(237 items)</p>
		</div>
		<div class="filter-sorting">
			<div class="collection-sorting position-relative d-none d-lg-block">
				<div class="sorting-header text_16 d-flex align-items-center justify-content-end">
					<span class="sorting-title me-2">Sort by:</span>
					<span class="active-sorting">Featured</span>
					<span class="sorting-icon">
						<svg class="icon icon-down" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
							<polyline points="6 9 12 15 18 9"></polyline>
						</svg>
					</span>
				</div>
				<ul class="sorting-lists list-unstyled m-0">
					<li>
						<a href="#" class="text_14">Featured</a>
					</li>
					<li>
						<a href="#" class="text_14">Best Selling</a>
					</li>
					<li>
						<a href="#" class="text_14">Alphabetically, A-Z</a>
					</li>
					<li>
						<a href="#" class="text_14">Alphabetically, Z-A</a>
					</li>
					<li>
						<a href="#" class="text_14">Price, low to high</a>
					</li>
					<li>
						<a href="#" class="text_14">Price, high to low</a>
					</li>
					<li>
						<a href="#" class="text_14">Date, old to new</a>
					</li>
					<li>
						<a href="#" class="text_14">Date, new to old</a>
					</li>
				</ul>
			</div>
			<div class="filter-drawer-trigger mobile-filter d-flex align-items-center d-lg-none">
				<span class="mobile-filter-icon me-2">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-filter">
						<polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
					</svg>
				</span>
				<span class="mobile-filter-heading">Filter and Sorting</span>
			</div>
		</div>
	</div>
	<div class="collection-product-container">
		<div class="row" id="products" {{ sylius_test_html_attribute('products') }}>
			{% for product in resources.data %}
				{% include '@SyliusShop/Product/_box.html.twig' with {attrs:{class: 'col-lg-4 col-md-6 col-6', "data-aos":"fade-up"," data-aos-duration":"700"}}  %}
			{% endfor %}
		</div>
	</div>

	<div class="ui hidden divider"></div>

	{{ sylius_template_event('sylius.shop.product.index.before_pagination', {'products': resources.data}) }}

	{{ pagination.simple(resources.data) }}
{% else %}
	{{ messages.info('sylius.ui.no_results_to_display') }}
{% endif %}
