{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{# 
{% macro resolveAndConvertPrice(product) %}
	{% set variant = product|sylius_resolve_variant %}
	{% set amount = variant|sylius_calculate_original_price({'channel': sylius.channel}) %}
	{{ amount|sylius_convert_money(sylius.channel.baseCurrency.code, sylius.currencyCode) | trim}}
{% endmacro %} #}

{# {% set resolveAndConvertPrice = (product)  => (product|sylius_resolve_variant)|sylius_calculate_original_price({'channel': sylius.channel})|sylius_convert_money(sylius.channel.baseCurrency.code, sylius.currencyCode) | trim %} #}

{# {% from _self import resolveAndConvertPrice %} #}
{# {% set variants = products.data |reduce((prev, crnt,next ) => prev|merge([...crnt.variants, next.variants ]) , [])  %} #}
{% set variants = [] %}
	{% for product in products.data %}
{% set variants = variants|merge(product.variants) %}
{% endfor %}
{% set attributes = [] %}
	{% for product in products.data %}
{% set attributes = attributes|merge(product.attributes) %}
{% endfor %}

{% set prices = resources.data|map(product => (product|sylius_resolve_variant)|sylius_calculate_original_price({'channel': sylius.channel})|sylius_convert_money(sylius.channel.baseCurrency.code, sylius.currencyCode) | trim)|sort %}
{% set minPrice = (prices|length > 0)? min(prices) : 0 %}
{% set maxPrice = (prices|length > 0)? max(prices) : 0 %}

{{ dump() }}

	<div class="collection-filter filter-drawer"> <div class="filter-widget">
		<div class="filter-header faq-heading heading_18 d-flex align-items-center justify-content-between border-bottom" data-bs-toggle="collapse" data-bs-target="#filter-collection">
			{{'Navigation'|trans}}
			<span class="faq-heading-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-down">
					<polyline points="6 9 12 15 18 9"></polyline>
				</svg>
			</span>
		</div>
		<div id="filter-collection-header" class="accordion-collapse collapse show">
			{{ render(url('sylius_shop_partial_taxon_show_by_slug', {
    'slug': app.request.attributes.get('slug'),
    'template': '@SyliusShop/Taxon/_verticalMenu.html.twig'
})) }}

		</div>
	</div>

	<div class="filter-widget d-lg-none d-flex align-items-center justify-content-between">
		<h5 class="heading_24">Filter By</h4>
		<button type="button" class="btn-close text-reset filter-drawer-trigger d-lg-none"></button>
	</div>

	<div class="filter-widget d-lg-none">
		<div class="filter-header faq-heading heading_18 d-flex align-items-center justify-content-between border-bottom" data-bs-toggle="collapse" data-bs-target="#filter-mobile-sort">
			<span>
				<span class="sorting-title me-2">Sort by:</span>
				<span class="active-sorting">Featured</span>
			</span>
			<span class="faq-heading-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-down">
					<polyline points="6 9 12 15 18 9"></polyline>
				</svg>
			</span>
		</div>
		<div id="filter-mobile-sort" class="accordion-collapse collapse show">
			<ul class="sorting-lists-mobile list-unstyled m-0">
				<li>
					<a href="#" class="text_14">Featured</a>
				</li>
				<li>
					<a href="#" class="text_14">Best Selling</a>
				</li>
				<li>
					<a href="#" class="text_14">Alphabetically, A-Z</a>
				</li>
				<li>
					<a href="#" class="text_14">Alphabetically, Z-A</a>
				</li>
				<li>
					<a href="#" class="text_14">Price, low to high</a>
				</li>
				<li>
					<a href="#" class="text_14">Price, high to low</a>
				</li>
				<li>
					<a href="#" class="text_14">Date, old to new</a>
				</li>
				<li>
					<a href="#" class="text_14">Date, new to old</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="filter-widget">
		<div class="filter-header faq-heading heading_18 d-flex align-items-center justify-content-between border-bottom" data-bs-toggle="collapse" data-bs-target="#filter-collection">
			Categories
			<span class="faq-heading-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-down">
					<polyline points="6 9 12 15 18 9"></polyline>
				</svg>
			</span>
		</div>
		<div id="filter-collection" class="accordion-collapse collapse show">
			<ul class="filter-lists list-unstyled mb-0">
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						<span class="filter-text">Womens Bag</span>
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						Bottles
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						Men's Shoe
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						Toddler Dress
					</label>
				</li>
			</ul>
		</div>
	</div>
	<div class="filter-widget">
		<div class="filter-header faq-heading heading_18 d-flex align-items-center justify-content-between border-bottom" data-bs-toggle="collapse" data-bs-target="#filter-availability">
			Availability
			<span class="faq-heading-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-down">
					<polyline points="6 9 12 15 18 9"></polyline>
				</svg>
			</span>
		</div>
		<div id="filter-availability" class="accordion-collapse collapse show">
			<ul class="filter-lists list-unstyled mb-0">
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						<span class="filter-text">In Stock</span>
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						Out of Stock
					</label>
				</li>
			</ul>
		</div>
	</div>
	<div class="filter-widget">
		<div class="filter-header faq-heading heading_18 d-flex align-items-center justify-content-between border-bottom" data-bs-toggle="collapse" data-bs-target="#filter-price">
			Price
			<span class="faq-heading-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-down">
					<polyline points="6 9 12 15 18 9"></polyline>
				</svg>
			</span>
		</div>
		<div id="filter-price" class="accordion-collapse collapse show">
			<div class="filter-price d-flex align-items-center justify-content-between">
				<div class="filter-field">
					<input class="field-input" type="number" min="0" placeholder="{{ money.format(minPrice, sylius.currencyCode)}}" max="{{maxPrice}}" ">
				</div>
				<div class="filter-separator px-3">To</div>
				<div class="filter-field">
					<input class="field-input" type="number" min="0" placeholder="{{money.format(maxPrice, sylius.currencyCode)}}" max="{{maxPrice}}">
				</div>
			</div>
		</div>
	</div>
	<div class="filter-widget filter-color">
		<div class="filter-header faq-heading heading_18 d-flex align-items-center justify-content-between border-bottom" data-bs-toggle="collapse" data-bs-target="#filter-color">
			Colors
			<span class="faq-heading-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-down">
					<polyline points="6 9 12 15 18 9"></polyline>
				</svg>
			</span>
		</div>
		<div id="filter-color" class="accordion-collapse collapse show">
			<ul class="filter-lists list-unstyled mb-0">
				<li class="filter-item">
					<label class="filter-label blue">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label red">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label green">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label purple">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label gold">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label pink">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label orange">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label aqua">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label brown">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label bisque">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label grey">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
					</label>
				</li>
			</ul>
		</div>
	</div>
	<div class="filter-widget">
		<div class="filter-header faq-heading heading_18 d-flex align-items-center justify-content-between border-bottom" data-bs-toggle="collapse" data-bs-target="#filter-size">
			Size
			<span class="faq-heading-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-down">
					<polyline points="6 9 12 15 18 9"></polyline>
				</svg>
			</span>
		</div>
		<div id="filter-size" class="accordion-collapse collapse show">
			<ul class="filter-lists list-unstyled mb-0">
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						<span class="filter-text">XS</span>
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						S
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						M
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						L
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						XL
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						XXL
					</label>
				</li>
			</ul>
		</div>
	</div>
	<div class="filter-widget">
		<div class="filter-header faq-heading heading_18 d-flex align-items-center justify-content-between border-bottom" data-bs-toggle="collapse" data-bs-target="#filter-vendor">
			Vendor
			<span class="faq-heading-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-down">
					<polyline points="6 9 12 15 18 9"></polyline>
				</svg>
			</span>
		</div>
		<div id="filter-vendor" class="accordion-collapse collapse show">
			<ul class="filter-lists list-unstyled mb-0">
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						<span class="filter-text">Bynd</span>
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						Huemor
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						Jordan Crown
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						Hubspot
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						Ramotion
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						Infosolutions
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						Ideo
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						Codal
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						Salesforce
					</label>
				</li>
			</ul>
		</div>
	</div>
	<div class="filter-widget">
		<div class="filter-header faq-heading heading_18 d-flex align-items-center justify-content-between border-bottom" data-bs-toggle="collapse" data-bs-target="#filter-type">
			Product Type
			<span class="faq-heading-icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-down">
					<polyline points="6 9 12 15 18 9"></polyline>
				</svg>
			</span>
		</div>
		<div id="filter-type" class="accordion-collapse collapse show">
			<ul class="filter-lists list-unstyled mb-0">
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						<span class="filter-text">Bodysuit</span>
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						Hoodie
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						Jacket
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						Legging
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						Short
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						Top
					</label>
				</li>
				<li class="filter-item">
					<label class="filter-label">
						<input type="checkbox"/>
						<span class="filter-checkbox rounded me-2"></span>
						Underwear
					</label>
				</li>
			</ul>
		</div>
	</div>
	<div class="filter-widget">
		<div class="filter-header faq-heading heading_18 d-flex align-items-center border-bottom">
			Related products
		</div>
		<div class="filter-related">
			<div class="related-item d-flex">
				<div class="related-img-wrapper">
					<img class="related-img" src="{{ asset('assets/img/products/furniture/21.jpg') }}" alt="img">
				</div>
				<div class="related-product-info">
					<h2 class="related-heading heading_18">
						<a href="product.html">Tea Table</a>
					</h2>
					<div class="related-review-icon product-icon-star d-flex align-items-center">
						<img src="{{ asset('assets/img/icon/star.png') }}" alt="img">
						<img src="{{ asset('assets/img/icon/star.png') }}" alt="img">
						<img src="{{ asset('assets/img/icon/star.png') }}" alt="img">
						<img src="{{ asset('assets/img/icon/star.png') }}" alt="img">
						<img src="{{ asset('assets/img/icon/star.png') }}" alt="img">
					</div>
					<p class="related-price text_16">$2,546</p>
				</div>
			</div>
			<div class="related-item d-flex">
				<div class="related-img-wrapper">
					<img class="related-img" src="{{ asset('assets/img/products/furniture/22.jpg') }}" alt="img">
				</div>
				<div class="related-product-info">
					<h2 class="related-heading heading_18">
						<a href="product.html">Comfy Sofa</a>
					</h2>
					<div class="related-review-icon product-icon-star d-flex align-items-center">
						<img src="{{ asset('assets/img/icon/star.png') }}" alt="img">
						<img src="{{ asset('assets/img/icon/star.png') }}" alt="img">
						<img src="{{ asset('assets/img/icon/star.png') }}" alt="img">
						<img src="{{ asset('assets/img/icon/star.png') }}" alt="img">
						<img src="{{ asset('assets/img/icon/star.png') }}" alt="img">
					</div>
					<p class="related-price text_16">$1,526</p>
				</div>
			</div>
			<div class="related-item d-flex">
				<div class="related-img-wrapper">
					<img class="related-img" src="{{ asset('assets/img/products/furniture/23.jpg') }}" alt="img">
				</div>
				<div class="related-product-info">
					<h2 class="related-heading heading_18">
						<a href="product.html">Cusion Chair</a>
					</h2>
					<div class="related-review-icon product-icon-star d-flex align-items-center">
						<img src="{{ asset('assets/img/icon/star.png') }}" alt="img">
						<img src="{{ asset('assets/img/icon/star.png') }}" alt="img">
						<img src="{{ asset('assets/img/icon/star.png') }}" alt="img">
						<img src="{{ asset('assets/img/icon/star.png') }}" alt="img">
						<img src="{{ asset('assets/img/icon/star.png') }}" alt="img">
					</div>
					<p class="related-price text_16">$1,235</p>
				</div>
			</div>
		</div>
	</div>
	<div class="filter-widget">
		<a href="product.html">
			<img class="rounded" src="{{ asset('assets/img/banner/collection.jpg') }}" alt="img">
		</a>
	</div>
</div>
