{% set product = order_item.variant.product %}
{% if previewId is not defined %}
	{% set previewId = 'product-' ~ product.id ~ '-preview' %} {#  ~ random() %} #}
{% endif %}
{% if cartFormId is not defined %}
	{% set cartFormId = previewId ~'-' ~ 'sylius-product-adding-to-cart' %}
{% endif %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

<div class="ui segment" id="sylius-product-selecting-variant">
	{{ sonata_block_render_event('sylius.shop.product.show.before_add_to_cart', {'product': product, 'order_item': order_item}) }}

	{{ form_start(
		form, 
		{'action': path('sylius_shop_ajax_cart_add_item', {'productId': product.id}), 
		'attr': {'id': cartFormId, '@submit':'(evt) => isAddingToCart? evt?.preventDefault() : addToCart(evt)', 'class': '', 'novalidate': 'novalidate', 'data-redirect': path(configuration.getRedirectRoute('summary'))}}) }}
	{{ form_errors(form) }}
	<div class="ui red label bottom pointing hidden sylius-validation-error" id="sylius-cart-validation-error"></div>
	{% if not product.simple %}


		<div class="product-variant-wrapper">
			{% if product.variantSelectionMethodChoice %}
				{% include '@SyliusShop/Product/Show/_variants.html.twig' %}
			{% else %}
				{% include '@SyliusShop/Product/Show/_options.html.twig' %}
			{% endif %}
		</div>
	{% endif %}
	{# {{ form_row(form.cartItem.quantity) }} #}

	{{ sonata_block_render_event('sylius.shop.product.show.add_to_cart_form', {'product': product, 'order_item': order_item}) }}


	<div class="misc d-flex align-items-end justify-content-between mt-4">
		<div class="quantity d-flex align-items-center justify-content-between">
			<button @click="() => decreaseCartQuantity()" type="button" class="qty-btn dec-qty"><img src="{{ asset('assets/img/icon/minus.svg') }}" alt="minus"></button>
			{# <input  class="qty-input" type="number" name="qty" value="1" min="0"> #}
			{{ form_widget(form.cartItem.quantity, {'attr':{ 'class':'qty-input', 'v-model':'cartQuantity'}}) }}
			<button @click="() => increaseCartQuantity()" type="button" class="qty-btn inc-qty"><img src="{{ asset('assets/img/icon/plus.svg') }}" alt="plus"></button>
		</div>
		<div class="message-popup d-flex align-items-center">
			<span class="message-popup-icon">
				<svg width="24" height="25" viewbox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.5 4.25V16.25H4.5V20.0703L5.71875 19.0859L9.25781 16.25H16.5V4.25H1.5ZM3 5.75H15V14.75H8.74219L8.53125 14.9141L6 16.9297V14.75H3V5.75ZM18 7.25V8.75H21V17.75H18V19.9297L15.2578 17.75H9.63281L7.75781 19.25H14.7422L19.5 23.0703V19.25H22.5V7.25H18Z" fill="black"/>
				</svg>
			</span>
			<span class="message-popup-text ms-2">Message</span>
		</div>
	</div>


	<div class="product-form-buttons d-flex align-items-center justify-content-between mt-4">
		<button type="submit" class="position-relative btn-atc btn-add-to-cart loader">

			<div class="row justify-center">
				<div v-if="isAddingToCart" class="spinner-border text-primary" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
				<span v-else>
					{{ 'sylius.ui.add_to_cart'|trans }}
				</span>
			</div>
		</button>
		<a href="wishlist.html" class="product-wishlist">
			<svg class="icon icon-wishlist" width="26" height="22" viewbox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.96429 0.000183105C3.12305 0.000183105 0 3.10686 0 6.84843C0 8.15388 0.602121 9.28455 1.16071 10.1014C1.71931 10.9181 2.29241 11.4425 2.29241 11.4425L12.3326 21.3439L13 22.0002L13.6674 21.3439L23.7076 11.4425C23.7076 11.4425 26 9.45576 26 6.84843C26 3.10686 22.877 0.000183105 19.0357 0.000183105C15.8474 0.000183105 13.7944 1.88702 13 2.68241C12.2056 1.88702 10.1526 0.000183105 6.96429 0.000183105ZM6.96429 1.82638C9.73912 1.82638 12.3036 4.48008 12.3036 4.48008L13 5.25051L13.6964 4.48008C13.6964 4.48008 16.2609 1.82638 19.0357 1.82638C21.8613 1.82638 24.1429 4.10557 24.1429 6.84843C24.1429 8.25732 22.4018 10.1584 22.4018 10.1584L13 19.4036L3.59821 10.1584C3.59821 10.1584 3.14844 9.73397 2.69866 9.07411C2.24888 8.41426 1.85714 7.55466 1.85714 6.84843C1.85714 4.10557 4.13867 1.82638 6.96429 1.82638Z" fill="#00234D"></path>
			</svg>
		</a>
	</div>
	<div class="buy-it-now-btn mt-2">
		<button type="button" class="position-relative btn-atc btn-buyit-now">
			{{ 'sylius.ui.buy_it_now'|trans }}

		</button>
	</div>

	{{ form_row(form._token) }}
	{{ form_end(form, {'render_rest': false}) }}
</div>
